<div class="row">
  <div class="content">
    <div class="cart-show">
      <h2>Блог</h2>
      <% @blog_items.each do |blog_item| %>
        <div class="cart-item">
          <div class="description-cart">
            <div class="img">
              <%=image_tag(blog_item.image_url, class: "cart-img")%>
            </div>
            <div class="desc-blog">
              <p class="head"><%=blog_item.title%></p>
              <p><%=blog_item.text%>.</p>
            </div>
            <div class="entry-meta">
              <span class="date"><i class="fa fa-calendar"></i> <%=blog_item.date%></span>
              <span class="author">&nbsp <i class="fa fa-user"></i> Alexander &nbsp</span>
              <span class="tag">&nbsp<i class="fa fa-tag"></i> Мебель </span>

            </div>
          </div>
        </div>
      <%end%>

    </div>
  </div>
</div>