@font-face {
  font-family: Roboto-Regular;
  src: local("Roboto-Regular"), url("/assets/Roboto-Regular-bde8a188e37aa936b167aecc5e5a3da40262f6e51fd54c584f2cf2b6b99d96ca.ttf");
}
/* line 11, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
a {
  text-decoration: none;
  color: #66cc00;
  font-size: 1.1em;
}

/* line 16, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
a:hover {
  background-color: transparent;
}

/* line 19, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.cart-item a:hover {
  background-color: transparent;
}

/* line 22, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.buy a:visited {
  color: #66cc00;
}

/* line 23, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.cart-item a:visited {
  color: #66cc00;
}

/* line 25, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
img {
  width: 100%;
  height: auto;
}

/* line 31, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
* {
  box-sizing: border-box;
  font-family: Roboto-Regular, serif;
  margin: 0;
  padding: 0;
  /*border: 1px black solid;*/
  -webkit-appearance: none;
}

/* line 40, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
img {
  width: 100%;
  height: auto;
}

/* line 46, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
* {
  box-sizing: border-box;
  font-family: Roboto-Regular, serif;
  margin: 0;
  padding: 0;
  /*border: 1px black solid;*/
}

/* line 54, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.header {
  margin-top: 40px;
  height: 175px;
}

/* line 59, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.wrapper_h {
  max-width: 1170px;
  height: inherit;
  margin: 0 auto;
  position: relative;
  border: 2px #66cc00 solid;
  border-bottom: none;
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

/* line 70, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.logo {
  width: 150px;
  height: 50px;
  float: left;
  margin-right: 10px;
  margin-left: 60px;
  margin-top: 40px;
}

/* line 79, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.contacts {
  padding-top: 40px;
  padding-left: 25%;
  float: left;
}

/* line 86, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.contacts a {
  font-size: 2em;
  color: #000;
  margin-left: 10px;
}

/* line 92, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.buy {
  padding-top: 50px;
  padding-right: 60px;
  float: right;
  color: #66cc00;
}

/* line 99, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.buy a:hover {
  color: #4d9900;
}

/* line 103, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.horizontal_nav {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin: 0 auto;
  background-color: #66cc00;
}

/* line 111, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.horizontal_nav ul li {
  display: inline-block;
  width: 100px;
  margin-right: 0;
}

/* line 117, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.horizontal_nav ul li a {
  width: 100px;
  display: block;
  padding: 10px;
  color: #fff;
  transition: background-color 0.4s 0.1s ease;
}

/* line 125, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.horizontal_nav ul li a:hover {
  width: 100px;
  display: block;
  padding: 10px;
  color: #fff;
  background-color: #4d9900;
}

/* line 133, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.content {
  float: none;
  max-width: 1170px;
  margin: 5px auto;
  display: flex;
}

/* line 140, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.content-mine {
  display: block;
}

/* line 144, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.slider {
  position: relative;
  max-width: 1170px;
  height: 420px;
  overflow: hidden;
  margin: 10px auto;
}

/* line 152, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.slides {
  height: 100%;
  /* Simple clear fix */
  overflow: hidden;
  /**
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  /**
   * Here is CSS transitions
   * responsible for slider animation in modern broswers
   */
  -webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* line 176, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.slide {
  height: 100%;
  float: left;
  clear: none;
}

/* line 185, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
}

/* line 192, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.slider-arrow--right {
  bottom: 50%;
  right: 30px;
  color: white;
  opacity: 0.6;
}

/* line 193, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.slider-arrow--left {
  bottom: 50%;
  left: 30px;
  color: white;
  opacity: 0.6;
}

/* line 195, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.slider-arrow--left:hover, .slider-arrow--right:hover {
  opacity: 1;
}

/* line 199, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.slides li {
  height: 100%;
  width: 100%;
}

/* line 204, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.slider-nav {
  position: absolute;
  bottom: 30px;
}

/* line 209, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
  border-radius: 50%;
}

/* line 220, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.slider-nav__item:hover {
  background: #ccc;
}

/* line 221, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.slider-nav__item--current {
  background: #ccc;
}

/* line 222, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.menu_bar {
  float: left;
  width: 20%;
  height: 100%;
  padding: 10px;
}

/* line 230, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.catalog {
  width: 80%;
  /*float: right;*/
  /*margin-left: 25%;*/
  /*padding: 0 auto;*/
  /*padding-right: 5%;*/
  padding-left: 2%;
}

/* line 239, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.itemCatalog {
  display: inline-block;
  margin: 1%;
  font-size: 1.4em;
  width: 31%;
  min-height: 300px;
  border: 2px #66cc00 solid;
  border-radius: 3px;
  transition: box-shadow 0.3s 0.1s ease;
}

/* line 250, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.itemCatalog:hover {
  box-shadow: 0 0 5px 2px rgba(116, 116, 116, 0.5);
}

/* line 255, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.title {
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  background-color: #66cc00;
  text-align: center;
  color: white;
  padding: 10px;
}

/* line 264, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.catalog_nav {
  border-bottom: 2px #66cc00 solid;
  border-right: 2px #66cc00 solid;
  border-left: 2px #66cc00 solid;
  border-radius: 3px;
}

/* line 271, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.catalog_nav ul {
  padding: 20px;
  list-style-type: none;
}

/* line 276, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.catalog_nav ul li {
  margin-bottom: 10px;
  font-size: 1.1em;
}

/* line 281, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.catalog_nav ul li a:hover {
  color: #747474;
  text-decoration: underline;
}

/* line 286, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.catalog_nav ul li a {
  color: black;
}

/* line 290, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.description img {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  float: none;
  display: block;
}

/* line 298, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.description p {
  margin-top: 10px;
  margin-left: 10px;
}

/* line 303, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.price {
  color: #66cc00;
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* line 309, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.plus {
  text-align: center;
  display: block;
  width: 100%;
  float: right;
  color: white;
  background: #66cc00;
  /*margin-right: 10px;*/
  padding: 10px;
  transition: background 0.1s 0.1s ease;
  border: none;
  font-size: 1.0em;
}

/* line 324, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.plus:hover {
  background: #4d9900;
  border: none;
}

/* line 329, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.plus:active {
  background: #1f4b00;
}

/* line 333, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.plus:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

/* line 339, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.one_click_buy {
  text-align: center;
  display: block;
  width: 100%;
  float: right;
  color: white;
  background: #e2a31c;
  margin-right: 5px;
  padding: 10px;
  transition: background 0.1s 0.1s ease;
  border: none;
  font-size: 1.0em;
}

/* line 353, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.one_click_buy:hover {
  background: #c1891b;
}

/* line 357, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.one_click_buy:active {
  background: #a76f1f;
}

/* line 361, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.rub {
  display: inline-block;
  margin-top: 10px;
}

/* line 366, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.footer {
  max-width: 1170px;
  height: 40px;
  background: #66cc00;
  margin: 0 auto;
  padding-top: 3px;
  border-radius: 5px 5px 0 0;
}

/* line 375, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.row {
  width: 100%;
}

/* line 379, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.cart-show {
  width: 80%;
  margin: 10px auto;
}

/* line 384, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.cart-item {
  display: flex;
  width: 90%;
  margin: 10px auto;
  box-shadow: 2px 2px 10px #b2b2b2;
  position: relative;
}

/* line 392, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.cart-img {
  float: left;
  width: 200px;
  height: 200px;
  margin: 15px;
}

/* line 399, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.img {
  width: 30%;
  float: left;
}

/* line 404, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.desc {
  padding-top: 30px;
  width: 65%;
  float: right;
  margin: 15px;
}

/* line 411, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.close {
  position: absolute;
  display: block;
  cursor: pointer;
  right: 20px;
  top: 20px;
  font-size: 2em;
  opacity: 0.4;
  transition: opacity 0.3s 0.1s ease;
}

/* line 423, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.close:hover {
  opacity: 1;
}

/* line 427, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.all-price {
  padding-right: 10%;
  text-align: right;
}

/* line 432, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.all-price p {
  margin-bottom: 10px;
}

/* line 436, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.btn {
  margin: 10px;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* line 447, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.btn-green {
  background: #66cc00;
}

/* line 451, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.btn-green:hover {
  background: #4d9900;
}

/* line 455, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.btn-green:active {
  background: #408000;
}

/* line 459, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.head {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* line 464, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.desc-blog {
  width: 65%;
  float: right;
  margin: 15px;
}

/* line 470, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.entry-meta {
  /*border-top: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
  font-size: 0.8em;
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #66cc00;
}

/* line 480, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.author {
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
}

/* line 485, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.main-title {
  margin: 30px;
  float: none;
  text-align: center;
  width: 100%;
}

/* line 492, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.line {
  width: 80%;
  margin: 5px auto;
  height: 2px;
  background: #b2b2b2;
  display: block;
}

/* line 500, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.column {
  width: 33%;
  display: inline-block;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

/* line 509, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.call-menu {
  display: none;
}

/* line 513, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.column h4 {
  display: block;
  /*margin: 25px;*/
  padding: 20px;
}

/* line 519, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.center {
  margin: 10px auto;
  width: 100%;
}

/* line 524, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.column h4 i {
  display: block;
  float: left;
}

/* line 529, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.copyright {
  color: white;
  font-size: 0.7em;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

/* line 537, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.radio_buttons {
  /*margin: 5px;*/
  /*float: left;*/
  margin: 10px;
  width: auto;
  text-align: center;
  /*height: 50px;*/
}

/* line 545, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.radio_buttons div {
  display: inline-block;
  /*float: left;*/
  /*margin: 10px auto;*/
  margin-bottom: 5px;
}

/* line 551, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.radio_buttons input {
  position: absolute;
  left: -9999px;
}

/* line 555, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.radio_buttons label {
  display: inline-block;
  margin: 0 0 0 1px;
  padding: 10px;
  border: 1px solid #BBBBBB;
  background: linear-gradient(to bottom, white 0%, #e5e5e5 100%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border-radius: 5px;
  /*background: #66cc00;*/
}

/* line 566, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.radio_buttons input:checked + label {
  background: white;
  box-shadow: inset 0 3px 20px rgba(0, 0, 0, 0.53);
  border: 1px rgba(0, 0, 0, 0.46) solid;
}

/* line 574, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.add {
  position: fixed;
  z-index: 40;
  top: 30%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: #cccccc;
  background: #000000;
  opacity: 0.5;
  border-radius: 8px;
}

/* line 590, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.modal-bg {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

/* line 602, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.window {
  clear: both;
  position: relative;
  cursor: default;
  z-index: 39;
  width: 60%;
  background: #ffffff;
  margin: 100px auto;
  border: 1px black solid;
  border-radius: 7px;
  padding: 20px;
  animation: modalAdd 0.3s;
  display: ruby;
}

/* line 617, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.scroll {
  overflow: hidden;
}

@keyframes modalAdd {
  0% {
    transform: scale(0.2, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
@media screen and (max-width: 1001px) {
  /* line 631, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .itemCatalog {
    width: 330px;
  }
}
@media screen and (max-width: 890px) {
  /* line 637, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .itemCatalog {
    width: 300px;
  }

  /* line 640, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .contacts {
    padding-left: 25%;
  }
}
@media screen and (max-width: 810px) {
  /* line 646, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .itemCatalog {
    width: 270px;
  }

  /* line 649, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .desc, .desc-blog {
    width: 45%;
    padding-bottom: 30px;
  }

  /* line 653, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .img {
    width: 45%;
  }

  /* line 656, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .column {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 727px) {
  /* line 665, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .itemCatalog {
    width: 90%;
  }

  /* line 668, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .catalog_nav ul {
    padding: 10px;
  }

  /* line 671, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .window {
    width: 85%;
  }
}
@media screen and (max-width: 680px) {
  /* line 678, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .contacts {
    padding-left: 15%;
  }

  /* line 681, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .buy {
    position: fixed;
    right: 1%;
    top: 5px;
    z-index: 20;
  }
}
@media screen and (max-width: 600px) {
  /* line 691, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .contacts {
    padding-left: 0;
  }

  /* line 695, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .contacts a {
    font-size: 1.5em;
  }

  /*.horizontal_nav ul{*/
  /*!*display: none;*!*/
  /*}*/
  /* line 703, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .horizontal_nav ul li {
    width: 80px;
    font-size: 0.9em;
  }

  /* line 708, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .call-menu {
    display: block;
    color: white;
    float: left;
    margin: 5px;
  }

  /* line 715, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .menu_bar {
    float: none;
    width: 90%;
    margin: 5px auto;
  }

  /* line 721, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .catalog {
    float: none;
    width: 95%;
    margin: 5px auto;
    padding-left: 7%;
  }

  /* line 728, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .content {
    display: block;
  }

  /* line 732, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .desc {
    float: none;
    width: 90%;
  }

  /* line 737, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .img {
    float: none;
    margin: 10px auto;
    width: 90%;
    text-align: center;
  }

  /* line 744, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .cart-img {
    float: none;
  }

  /* line 748, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .desc-blog {
    float: none;
    width: 90%;
  }

  /* line 753, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .logo {
    margin-left: 10px;
  }

  /* line 757, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .slider {
    height: 300px;
  }
}
@media screen and (max-width: 475px) {
  /* line 765, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .buy {
    position: fixed;
    right: 1%;
    top: 5px;
    z-index: 20;
  }

  /* line 773, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
  .buy a {
    color: #808080;
  }
}
/* line 778, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.color-cub {
  margin-top: 10px;
  padding-top: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 786, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.color {
  font-size: 1.2em;
}

/* line 790, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.new_order {
  margin: 20px auto;
  width: 80%;
}

/* line 795, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.field {
  margin: 20px 0;
}

/* line 799, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.field input {
  font-size: 1.1em;
  width: 70%;
  height: 35px;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 10px;
}

/* line 809, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.field input:focus {
  outline: none;
  border: 1px solid #747474;
  box-shadow: 0 0 10px cornflowerblue;
}

/* line 815, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.img-item {
  width: 60%;
  margin: 15px auto;
}

/* line 820, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.width-btn {
  width: 150px;
  cursor: pointer;
}

/* line 825, /home/rodosabc/doskaapp/app/assets/stylesheets/style.scss */
.img img {
  margin: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 *= require_style
 */
