<div class="row">
  <div class="content">
    <div class="cart-show">
      <h2 class="head">Оформление заказа</h2>
      <div class="cart-item">
        <%= render 'form' %>

      </div>
    </div>
  </div>
</div>