
<div class="row">
  <div class="content" style="display:block; padding:30px">
    <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=mR9338YvzYbv05QLWbm6qzkQnlAT0Py7&width=950&height=450"></script>
    <p>
      <b>Address:</b> Турейка<br>
      <b>Телефон:</b> +7-964-570-85-98<br>
      <b>VK:</b><a href=" https://vk.com/id155855454"> Александр</a><br>
    </p>
  </div>
</div>