<p id="notice"><%= notice %></p>

<p>
  <strong>Fuck yourself counter:</strong>
  <%= @fuck_you.fuck_yourself_counter %>
</p>

<%= link_to 'Edit', edit_fuck_you_path(@fuck_you) %> |
<%= link_to 'Back', fuck_yous_path %>
