<div class="row">
  <div class="content" style="display:block; padding:30px">
    <p><b>Вопрос: Как с вами связаться?</b></p>
    <p><b>Ответ:</b> Связаться с нами можно по телефону: +7-964-570-85-98.</p><br>
    
    <p><b>Вопрос: Где я могу ознакомиться с товаром?</b></p>
    <p><b>Ответ:</b>В разделе "Каталог" или вы можете связать по телефону для уточнения подробностей</p><br>
    
    <p><b>Вопрос: Я вижу, что в каталоге не указана цена товара?</b></p>
    <p><b>Ответ:</b>Все цены указываются при личном разговоре.</p><br>
    
    <p><b>Вопрос: Есть ли доставка на дом?</b></p>
    <p><b>Ответ:</b>Цены и условия доставки уточняйте по телефону.</p><br>
    
    <p><b>Вопрос: Из какого материала делается ваша продукция?</b></p>
    <p><b>Ответ:</b>Мы предоставляем услуги выбора материала заказчиком.(массив сосны, массив березы, плетенная</p><br>
  </div>
</div>