
///////////////////////////////////////////
  ////////////////////////////////////////////////////////////
  ///////////////////////////////////////////
  @font-face {
    font-family: Roboto-Regular;
    src: local("Roboto-Regular"),
    url(font-path('Roboto-Regular.ttf'));
  }
  /**/
.labelsBlock .label.labelTOP {
  background-position: 0px -110px;
}
.labelsBlock .label {
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(image-path('labels.png')) no-repeat;
  width: 95px;
  height: 55px;
  padding: none;
  text-indent: -9999px;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
* {
  outline: none !important;
}
.labelsBlock {
  position: relative;
  overflow: visible;
  z-index: 50;
}
/**/
  a{
    text-decoration: none;
    color: #66cc00;
    font-size: 1.1em;
  }
  a:hover {
    background-color: transparent;
  }
  .cart-item a:hover {
    background-color: transparent;
  }
  .buy a:visited {color:#66cc00;}
  .cart-item a:visited {color:#66cc00;}


*{
  box-sizing: border-box;
  font-family: Roboto-Regular, serif;
  margin: 0;
  padding: 0;
  /*border: 1px black solid;*/
  -webkit-appearance: none;
}

img{
  width: 100%;
  height: auto;
}


*{
  box-sizing: border-box;
  font-family: Roboto-Regular, serif;
  margin: 0;
  padding: 0;
  /*border: 1px black solid;*/
}

.header{
  margin-top: 40px;
  height: 175px;
}

.wrapper_h {
  max-width: 1170px;
  height: inherit;
  margin: 0 auto;
  position: relative;
  border: 2px #66cc00 solid;
  border-bottom: none;
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.logo{
  width: 150px;
  height: 50px;
  float: left;
  margin-right: 10px;
  margin-left: 60px;
  margin-top: 40px;
}

.contacts {
  padding-top: 40px;
  padding-left: 25%;

  float: left;
}

.contacts a{
  font-size: 2em;
  color:#000;
  margin-left: 10px;
}

.buy {
  padding-top: 50px;
  padding-right: 60px;
  float: right;
  color:#66cc00;
}

.buy a:hover{
  color: #4d9900;
}

.horizontal_nav{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin: 0 auto;
  background-color: #66cc00;
}
.horizontal_nav ul li{
  display: inline-block;
  width:100px;
  margin-right: 0;
}

.horizontal_nav ul li a{
  width: 100px;
  display: block;
  padding: 10px;
  color: #fff;
  transition: background-color 0.4s 0.1s ease;
}

.horizontal_nav ul li a:hover{
  width:100px;
  display: block;
  padding: 10px;
  color: #fff;
  background-color: #4d9900;
}

.content{
  float: none;
  max-width: 1170px;
  margin: 5px auto;
  display: flex;
}

.content-mine{
  display: block;
}

.slider {
  position: relative;
  max-width: 1170px;
  height: 420px;
  overflow: hidden;
  margin: 10px auto;
}

.slides {
  height: 100%;

  /* Simple clear fix */
  overflow: hidden;

  /**
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

  /**
   * Here is CSS transitions
   * responsible for slider animation in modern broswers
   */
  -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.slide {
  height: 100%;
  float: left;
  clear: none;
}


.slider-arrows {}

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
}

.slider-arrow--right { bottom: 50%; right: 30px; color: white; opacity: 0.6; }
.slider-arrow--left { bottom: 50%; left: 30px; color: white; opacity: 0.6; }

.slider-arrow--left:hover, .slider-arrow--right:hover{
  opacity: 1;
}

.slides li{
  height: 100%;
  width: 100%;
}

.slider-nav {
  position: absolute;
  bottom: 30px;
}

.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
  border-radius: 50%;
}

.slider-nav__item:hover { background: #ccc; }
.slider-nav__item--current { background: #ccc; }
.menu_bar {
  float: left;
  width: 20%;
  height: 100%;
  padding: 10px;

}

.catalog {
  width: 80%;
  /*float: right;*/
  /*margin-left: 25%;*/
  /*padding: 0 auto;*/
  /*padding-right: 5%;*/
  padding-left: 2%;
}

.itemCatalog {
  position: relative;
  display: inline-block;
  margin: 1%;
  font-size: 1.4em;
  width: 31%;
  min-height: 300px;
  border: 2px #66cc00 solid;
  border-radius: 3px;
  transition: box-shadow 0.3s 0.1s ease;
}

.itemCatalog:hover {
  box-shadow: 0 0 5px 2px rgba(116, 116, 116, 0.5);
}
.itemCatalog-main {
  position: relative;
  display: inline-block;
  margin: 1%;
  font-size: 1.4em;
  width: 22%;
  min-height: 300px;
  border: 2px #66cc00 solid;
  border-radius: 3px;
  transition: box-shadow 0.3s 0.1s ease;
}

.itemCatalog-main:hover {
  box-shadow: 0 0 5px 2px rgba(116, 116, 116, 0.5);
}

.title{
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  background-color: #66cc00;
  text-align: center;
  color: white;
  padding: 10px;
}

.catalog_nav {
  border-bottom: 2px #66cc00 solid;
  border-right: 2px #66cc00 solid;
  border-left: 2px #66cc00 solid;
  border-radius: 3px;
}

.catalog_nav ul{
  padding: 20px;
  list-style-type: none;
}

.catalog_nav ul li{
  margin-bottom: 10px;
  font-size: 1.1em;
}

.catalog_nav ul li a:hover{
  color: #747474;
  text-decoration: underline;
}

.catalog_nav ul li a{
  color: black;
}

.description img{
  width: 200px;
  height: 200px;
  margin: 10px auto;
  float: none;
  display: block;
}

.description p{
  font-size: 0.8em;
  margin-top: 10px;
  margin-left: 10px;
}

.price {
  color: #66cc00;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.plus {
  text-align: center;
  display: block;
  width: 100%;
  float: right;
  color: white;
  background: #66cc00;
  /*margin-right: 10px;*/
  padding: 10px;
  transition: background 0.1s 0.1s ease;
  border: none;
  font-size: 1.0em;
}

.plus:hover{
  background: #4d9900;
  border: none;
}

.plus:active{
  background: #1f4b00;
}

.plus:focus{
  border: none;
  box-shadow: none;
  outline: none;
}

.rub {
  display: inline-block;
  margin-top: 10px;
}

.footer {
  max-width: 1170px;
  height: 40px;
  background: #66cc00;
  margin: 0 auto;
  padding-top: 3px;
  border-radius: 5px 5px 0 0 ;
}

.row{
  width: 100%;
}

.cart-show{
  width: 80%;
  margin: 10px auto;
}

.cart-item{
  display: block;
  padding: 10px;
  width: 90%;
  margin: 10px auto;
  box-shadow: 2px 2px 10px #b2b2b2;
  position: relative;
}

/*.cart-item div{*/
/*display: inline-block;*/
/*}*/

.cart-img {
  width: 200px;
  height: 200px;
  margin: 15px 30px;
}

.img {
  width: 40%;
  float: left;
}

.desc {
  padding-top: 30px;
  margin: 15px;
  min-width: 60%;
}

.close{
  position: absolute;
  display: block;
  cursor: pointer;
  right: 20px;
  top: 20px;
  font-size: 2em;
  opacity: 0.4;
  transition: opacity 0.3s 0.1s ease;

}

.close:hover{
  opacity: 1;
}

.all-price {
  padding-right: 10%;
  text-align: right;
}

.all-price p{
  margin-bottom: 10px;
}

.btn {
  margin: 10px;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn-green{
  background: #66cc00;
}

.btn-green:hover{
  background: #4d9900;
}

.btn-green:active{
  background: #408000;
}
.one_click_buy{
    margin-right: 5px;
    background: #ebbc08;
}
.one_click_buy:hover{
    background: #c09a08;
}
.one_click_buy:active{
    background: #9c7c08;
}
.head{
  font-size: 1.2em;
  margin-bottom: 10px;
}

.desc-blog {
  width: 65%;
  float: right;
  margin: 15px;
}

.entry-meta {
  /*border-top: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
  font-size: 0.8em;
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #66cc00;
}

.author{
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
}

.main-title{
  margin: 30px;
  float: none;
  text-align: center;
  width: 100%;
}

.line{
  width: 80%;
  margin: 5px auto;
  height: 2px;
  background: #b2b2b2;
  display: block;
}

.column{
  width: 33%;
  display: inline-block;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;

}

.call-menu {
  display: none;
}

.column h4{
  display: block;
  /*margin: 25px;*/
  padding: 20px;
}

.center {
  margin: 10px auto;
  width: 100%;
}

.column h4 i{
  display: block;
  float: left;
}

.copyright {
  color: white;
  font-size: 0.7em;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.radio_buttons {
  /*margin: 5px;*/
  /*float: left;*/
  margin: 10px;
  width: auto;
  text-align: center;
  /*height: 50px;*/
}
.radio_buttons div {
  display: inline-block;
  /*float: left;*/
  /*margin: 10px auto;*/
  margin-bottom: 5px;
}
.radio_buttons input {
  position: absolute;
  left: -9999px;
}
.radio_buttons label {
  display: inline-block;
  margin: 0 0 0 1px;
  padding: 10px;
  border: 1px solid #BBBBBB;
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
  cursor: pointer;
  border-radius: 5px;
  transition: box-shadow 0.2s 0.2s ease;
  /*background: #66cc00;*/
}
.radio_buttons input:checked + label {
  background: white;
  box-shadow: inset 0 3px 20px rgba(0, 0, 0, 0.53);
  border: 1px rgba(0, 0, 0, 0.46) solid;
  box-shadow: 0 0 15px 2px rgba(39, 95, 255, 0.51);
}



.add{
  position: fixed;
  z-index: 40;
  top: 30%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: #cccccc;
  background: #000000;
  opacity: 0.5;
  border-radius: 8px;
}

.modal-bg{
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  cursor: pointer;
}

.window{
  clear: both;
  position: relative;
  cursor: default;
  z-index: 39;
  width: 60%;
  background: #ffffff;
  margin: 100px auto;
  border: 1px black solid;
  border-radius: 7px;
  padding: 20px;
  animation: modalAdd 0.3s;
  display: ruby;
}

.scroll{
  overflow: hidden;
}

@keyframes modalAdd {
  0%{
    transform: scale(0.2, 0.2) ;
  }
  100%{
    transform: scale(1, 1) ;
  }
}

@media screen and (max-width:1001px) {
  .itemCatalog{
    width: 330px;
  }
  .itemCatalog-main{
          width: 31%;
          margin: 10px;
      }
}

@media screen and (max-width:890px) {
  .itemCatalog{
    width: 300px;
  }
  .contacts{
    padding-left: 25%;
  }
}

@media screen and (max-width:810px) {
  .itemCatalog-main{
          width: 30%;
          margin: 10px;
      }
  .itemCatalog{
    width: 270px;
  }
  .desc{
    width: 60%;
    margin: 10px auto;
  }
  .img{
    max-width: 30%;
    margin: 10px auto;
  }
  .column{
    width: 40%;
    display: block;
    margin: 0 auto;
  }

}

@media screen and (max-width:727px) {
  .itemCatalog-main{
          width: 47%;
          margin: 10px;
      }
  .itemCatalog{
    width: 90%;
  }
  .catalog_nav ul {
    padding: 10px;
  }
  .window{
    width: 85%;
  }
}


@media screen and (max-width:680px) {
  .contacts{
    padding-left: 15%;
  }

  .buy{
    position: fixed;
    right: 1%;
    top: 5px;
    z-index: 20;
  }
  .cart-show {
    width: 95%;
    margin: 10px;
  }
}

@media screen and (max-width:600px) {
  .itemCatalog-main{
          width: 90%;
          margin: 10px;
      }
  .contacts{
    padding-left: 0;
  }

  .contacts a {
    font-size: 1.5em;
  }

  .horizontal_nav ul li{
    width: 80px;
    font-size: 0.9em;
  }

  .call-menu{
    display: block;
    color: white;
    float: left;
    margin: 5px;
  }

  .menu_bar{
    float: none;
    width: 90%;
    margin: 5px auto;
  }

  .catalog{
    float: none;
    width: 95%;
    margin: 5px auto;
    padding-left: 7%;
  }

  .content{
    display: block;
  }

  .desc{
    float: none;
    width: 90%;
    margin: 10px auto;
  }

  .img{
    float: none;
    margin: 10px auto;
    display: table;
    width: 90%;
    text-align: center;
  }

  .cart-img{
    /*float: none;*/
    width: 200px;
    margin: 10px auto;
  }

  .desc-blog{
    float: none;
    width: 90%;
  }

  .logo{
    margin-left: 10px;
  }

  .slider{
    height: 300px;
  }

}


@media screen and (max-width:475px) {


  .buy a{
    color: #808080;
  }
}

.color-cub {
  position: absolute;
  left: -25px;
  bottom: 3px;
  width: 20px;
  height: 20px;
}

.color {
  font-size: 1.2em;
}

.new_order {
  margin: 20px auto;
  width: 80%;
}

.field {
  text-align: center;
  margin: 20px 0;
}

.field input{
  text-align: center;
  font-size: 1.1em;
  width: 80%;
  height: 35px;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 10px;
}

.field textarea{
  resize: none;
  font-size: 1.1em;
  width: 80%;
  height: 100px;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 10px;
  overflow: auto;
}

.field textarea:focus{
  outline: none;
  border: 1px solid #747474;
  box-shadow: 0 0 10px cornflowerblue;
}

.field input:focus{
  outline: none;
  border: 1px solid #747474;
  box-shadow: 0 0 10px cornflowerblue;
}

.img-item {
  width: 60%;
  margin: 15px auto;
}

.width-btn {
  width: 120px;
  cursor: pointer;
}

.table {
  width: 80%;
  border-collapse: collapse;
  margin: 10px auto;
}

.table tbody tr{
  border-bottom: 1px #747474 solid;
}

.table tbody tr:first-of-type{
  background: #dedede;
  outline: none;
}
.table tbody tr th{
  padding: 15px 10px;
}

.table tbody tr td{
  padding: 15px 10px;
  text-align: center;
}

.table tbody tr td:first-of-type{
  padding: 15px 10px;
  text-align: left;
}

.table tbody tr th:first-of-type{
  text-align: left;
}

.right {
  /*display: inline-block;*/
  /*text-align: right;*/
  float: right;
}

.desc p{
  margin-bottom: 15px;
}

.desc p .right{
  position: relative;
}

.description-cart {
  width: 100%;
}

.quest {
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: opacity 0.3s 0.1s ease;
}


.resp{
    top: -110px;
    left: -83px;
    width: 200px;
    height:100px;
    position: absolute;
    border: 1px solid #b2b2b2;
    background: #fff;
    color: #b2b2b2;
}

.resp p{
    margin: 10px;
}

.arrow-bottom {
    top: -10px;
    left: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #b2b2b2;
    border-bottom: 0;
}
.hits {
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 0;
    border: 70px solid transparent;
    border-left-color: #ebbc08;
    border-right: 0;
    border-top: 0;
}

.hit {
    position: absolute;
    color: #fff;
    top: 10px;
    left: -70px;
    transform: rotate(-45deg);
}

.catalog-main{
     width: 100%;
 }