<% content_for :head do %>
    <meta HTTP-EQUIV="REFRESH" content="3; url=<%=root_url%>">
<% end %>
<div class="row">
  <div class="content" style="display:block; padding:30px">
    <h1>Спасибо за заказ!</h1>
    <p>Спасибо, что выбрали SvoyaDoska!
      Ваш заказ будет обработан нашими
      операторами в ближайшее время!</p>
    <p>Если у вас остались какие-то вопросы, мы всегда рады на них ответить по телефону:</p>
    <p>+7-964-570-85-98</p>
  </div>
</div>