<div>
    <img src="img/715148-163395.png" alt="">
</div>
<div>
    <h3>Диванчик</h3>
    <form action="">
        <p>Цвет:</p>
        <div class="radio_buttons">
        <div>
        <input type="radio" name="option" id="radio1" checked />
        <label for="radio1" style="background: green"></label>
        </div>
        <div>
        <input type="radio" name="option" id="radio2" />
        <label for="radio2" style="background: brown"></label>
        </div>
        <div>
        <input type="radio" name="option" id="radio3" />
        <label for="radio3" style="background: red"></label>
        </div>
        <div>
        <input type="radio" name="option" id="radio4" />
        <label for="radio4" style="background: yellow"></label>
        </div>
        </div>
        <p>Материал:</p>
        <div class="radio_buttons">
            <div>
                <input type="radio" name="option" id="radio1" checked />
                <label for="radio1" style="background: green"></label>
            </div>
            <div>
                <input type="radio" name="option" id="radio2" />
                <label for="radio2" style="background: brown"></label>
            </div>
            <div>
                <input type="radio" name="option" id="radio3" />
                <label for="radio3" style="background: red"></label>
            </div>
            <div>
                <input type="radio" name="option" id="radio4" />
                <label for="radio4" style="background: yellow"></label>
            </div>
        </div>
        <p>Размер:</p>
        <div class="radio_buttons">
            <div>
                <input type="radio" name="option" id="radio1" checked />
                <label for="radio1" style="background: green"></label>
            </div>
            <div>
                <input type="radio" name="option" id="radio2" />
                <label for="radio2" style="background: brown"></label>
            </div>
            <div>
                <input type="radio" name="option" id="radio3" />
                <label for="radio3" style="background: red"></label>
            </div>
            <div>
                <input type="radio" name="option" id="radio4" />
                <label for="radio4" style="background: yellow"></label>
            </div>
        </div>
        <input class="plus" type="submit" name="commit" value="добавить +"></form>
    </form>
</div>