<%if product.hit%>
  <div class="labelsBlock">
    <div class="label labelTOP" title="Хит продаж">
        Хит продаж
    </div>
  </div>
<%end%>
<%if product.sale%>
  <div class="labelsBlock">
    <div class="label labelTOP" title="Распродажа">
    Хит продаж
    </div>
  </div>
<%end%>
<%if product.novelty%>
  <div class="labelsBlock">
    <div class="label labelTOP" title="Новинка">
        Хит продаж
    </div>
  </div>
<%end%>