<%@products.each do |product|%>
    <div class="itemCatalog">
      <div class="description">
        <%=image_tag(product.image_url)%>
        <p><%=product.title %></p>
        <p class="price"><%=product.price %></p>
      </div>
      <%= button_to 'Добавить в корзину', line_items_path(:id => product.id)%>
    </div>
<%end %>