
  <div class="row">
    <div class="slider">
      <ul class="slides">
        <%@random_ids.each do |random_id|%>
          <li class="slide"><%=image_tag(image_url(Product.find(random_id).image))%></li>
        <%end%>
      </ul>
    </div>
  </div>

